.button-menu:hover {
   background-color: #1a0bde;
   border-radius: 5px;
   padding: 8px;
   transition: 0.5s;
}

.button-ofer {
    background-color: #1a0bde !important;
    border: 1px solid #1a0bde;
}

.button-item {
    color: #ffffff;
}

.tm-gallery-title {
    color: #1a0bde !important;
}

.tm-gallery-price {
    padding: 10px;
    background-color: #1a0bde;
    color: #ffffff;
    text-align: center;
    border-radius: 8px;
}

.tm-gallery-price:hover {
    background-color: #ffffff;
    color: #1a0bde;
    border: 1px solid #1a0bde;
}

.tm-gallery-img {
    border-radius: 10px;
}