.button-menu:hover {
   background-color: #1a0bde;
   border-radius: 5px;
   padding: 8px;
   transition: 0.5s;
}

.button-ofer {
    background-color: #1a0bde !important;
    border: 1px solid #1a0bde;
    border-radius: 3px;
}

.button-item {
    color: #ffffff;
}